*{
    margin: 0;
    padding: 0;
}

/* Pixels */
/* .container {
    background-color: red;
    width: 600px;
    height: 300px;
} */

/* em && rem */
.container {
    background-color: red;
    width: 600px;
    height: 300px;

    font-size:18px ; /*reference for the em*/
    margin: 1.5em;
}

/* Percentages */
/* .child {
    background-color: darkcyan;
    width: 50%;
} */

/* ViewPort */
.child {
    background-color: darkcyan;
    width: 100svw;
    height: 10svh;
}
